    .login-page {
        background-color: #FFFFFF;
    }
  
  /* Contenedor del formulario */
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  /* Caja del formulario */
  .login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-box h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-box button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para 1440px y superiores */
  @media (min-width: 1440px) {
    .login-box {
      width: 500px;
    }
  }
  
  /* Estilos para pantallas más pequeñas */
  @media (max-width: 768px) {
    .login-box {
      width: 100%;
      padding: 20px;
    }
  }
  