.home {
  background-image: url('/images/golden.webp'); /* Ruta de la imagen dentro de la carpeta public */
  background-position: 89% 46%; /* Ubica la imagen en el costado derecho */
  background-size: 28%; /* Asegura que la imagen se ajuste correctamente dentro del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Establece que el fondo ocupe toda la altura de la pantalla */
}

.home-content {
  padding-top: 165px;
  margin-left: 100px;
  width: 50%;
  color: #fff; /* Asegura que el texto se vea en blanco */
}

.home-title {
  font-family: 'Museo Sans', sans-serif;
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 3%;
  color: #fff; /* Texto en blanco */
}

.home-content p {
  color: #fff; /* Texto en blanco */
  font-size: 17px;
  margin-bottom: 4%;
  font-family: 'Open Sans', sans-serif; /* Si deseas que el texto use Open Sans */
  width: 70%;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 53%;
}

.button-txt {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.options a {
  color: #fff; /* Texto en blanco */
  text-decoration: none;
  font-size: 15px;
}

.text-regular {
  font-family: 'Open Sans', sans-serif; /* Si deseas que el navbar use Open Sans */
  font-size: 14px;
}