.navbar .nav-link {
    color: white; /* Puedes cambiar el color de los enlaces */
    font-size: 16px; /* Tamaño de los enlaces */
    margin-right: 10px; 
  }


  .circle-brand-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 26% 0 0;
  }
  
  .brand-icon{
    width: 30px;
    height: 30px;
  }