/* Estilo para el HomePage */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.home-page {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    /* height: 597vh;  */
    min-height: 100vh;
    background-color: #db581b;

    padding: 0;
    margin: 0;    
    background-image: url('/images/bg-image.jpg'); /* Ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para que se contenga en el contenedor */
    background-repeat: no-repeat; /* Evita que se repita */
    background-position: top center; /* Centra la imagen horizontalmente y se alinea arriba */
  }
