:root {
  /* Primary Colors */
  --primary-orange: #FF6752;
  --secondary-orange: #FD6845;
  --tertiary-orange: #FE6845;
  --light-orange: #FFA046;

  /* Accent Colors */
  --primary-blue: #4487FF;
  --dark-blue: #00225C;

  /* Neutral Colors */
  --light-gray: #F8F8F8;
  --medium-gray: #808080;
  --dark-gray: #B1BBCD;

  /* Additional Colors */
  --purple: #7569DE;
  --green: #9ECB45;
}


html, body {
  font-family: 'Open Sans', sans-serif;
}

.text-regular {
  font-weight: 400; /* Regular */
}

.text-bold {
  font-weight: 700; /* Bold */
}
