:root {
  /* Primary Colors */
  --primary-orange: #FF6752;
  --secondary-orange: #FD6845;
  --tertiary-orange: #FE6845;
  --light-orange: #FFA046;

  /* Accent Colors */
  --primary-blue: #4487FF;
  --dark-blue: #00225C;

  /* Neutral Colors */
  --light-gray: #F8F8F8;
  --medium-gray: #808080;
  --dark-gray: #B1BBCD;

  /* Additional Colors */
  --purple: #7569DE;
  --green: #9ECB45;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/MuseoSansRounded700.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/fonts/Comfortaa-Regular.ttf') format('truetype'); /* Formato para TTF */
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/fonts/Comfortaa-Bold.ttf') format('truetype'); /* Formato para TTF */
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Gibson Semibold';
  src: url('/fonts/Gibson-SemiBold.ttf') format('opentype'); /* Formato para TTF */
  font-weight: 600; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/Segoe-UI-Bold.ttf') format('truetype'); /* Formato para TTF */
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/Segoe-UI.ttf') format('truetype'); /* Formato para TTF */
  font-weight: 400; /* Bold */
  font-style: normal;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; /* Regular */
}

.text-bold {
  font-weight: 700; /* Bold */
}
